# ── Node ──────────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-error.log

# ── Environment Variables ──────────────────────────────────────────────────────
.env
.env.local
.env.production

# ── OS / Editor ───────────────────────────────────────────────────────────────
.DS_Store
.vscode/
*.swp
